body {
 font-family: Garamond;
 text-align: center;
 background-color: #efc050
}

div {
  border:3px solid"
   class="topnav"
    width="500"
}

table {
  border:5px solid
#936b0e;margin-left:auto;
  margin-right:auto;
}
