body {
 font-family: Georgia;
 text-align: center;
 background-color: #944743
}

div {
  border:3px solid"
   class="topnav"
    width="500"
}

table {
  border:5px solid
#c88885;margin-left:auto;
  margin-right:auto;
}

h1 {
font-style: italic;
}
